@font-face {
  font-family: "Lato-Regular";
  src: url("/Lato-Regular.woff2") format("woff2"),
    url("/Lato-Regular.woff") format("woff"),
    url("/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/Lato-Bold.woff2") format("woff2"),
    url("/Lato-Bold.woff") format("woff"),
    url("/Lato-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Lato-Regular", sans-serif;
  background-image: linear-gradient( 135deg, #96B021 10%, #768927 100%);  font-size: 16px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato-Bold", sans-serif;
}

.button {
  font-family: "Lato-Bold", sans-serif;
}

main {
  padding: 20px;
  text-align: center;
}

/* Navigation link */
a {
  color: #9b59b6;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #9b59b6;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #9b59b6;
  color: white;
}

h1,
h2 {
  color: #374151;
  margin-bottom: 0.5em;
}
