* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","Noto Sans TC","Microsoft JhengHei", "Meiryo UI";
  background-color: #f2f2f2; 
  color: #333;
  font-size: 16px;
  height: 100%;
}

main {
  padding: 20px;
  text-align: center;
}

/* Navigation link */
a {
  color: #9b59b6;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #9b59b6;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #9b59b6;
  color: white;
}

h1, h2 {
  color: #FFF; 
  margin-bottom: 0.5em;
}