@font-face {
  font-family: "Lato-Regular";
  src: url("/Lato-Regular.woff2") format("woff2"),
    url("/Lato-Regular.woff") format("woff"),
    url("/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/Lato-Bold.woff2") format("woff2"),
    url("/Lato-Bold.woff") format("woff"),
    url("/Lato-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Lato-Regular", sans-serif;
  background-image: linear-gradient( 135deg, #96B021 10%, #768927 100%);  font-size: 16px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato-Bold", sans-serif;
}

.button {
  font-family: "Lato-Bold", sans-serif;
}

main {
  padding: 20px;
  text-align: center;
}

.title {
  margin-top: 48px;
  color: white;
  font-size: 48px;
}

/* Navigation link */
a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: none;
  font-size: 0.875rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
  background-image: white;
  background-size: 200% auto; /* Taille de fond étendue pour permettre l'animation */
  transition: background-position 0.3s ease; /* Transition simplifiée */
  font-family: inherit;
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
}

a:hover {
  background-position: right center; /* Changement de position au survol */
}

h1,
h2 {
  color: #374151;
  margin-bottom: 0.5em;
}
